<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXTRA!! EXTRA!!</title>
    <link rel = "stylesheet" href = "../public/styles.css">
    
</head>

<body id = "foundation">

    <div id = "top">
        <p class = "talk">
            
            <img id = "bomb" src = "../public/media/nuclear_bomb.png" alt = "An image of a nuclear bomb">
            
            <pre>
                Inte ----------> ll
                    ectuals in exile,  
            too too 
                    quick! A    major 
                                    Commonality, a 
                super free Fabric and abyss 
                            of
                            Waiting 
                                and apex unprediction 

                <img id = "bomb" src = "../public/media/nuclear_bomb.png" alt = "An image of a nuclear bomb">

            </pre>

            <img id = "rose" src = "../public/media/rose.gif" alt = "An image of a rose blossoming">
        </p>
    </div>

    <div id = "saavy"> 
        <img id = "watch" src = "../public/media/watch-two.png" alt = "An image of a surveillance camera"> 

        <a href = "/login">
            <img id = "explosion" src = "../public/media/nuclear.png" alt = "A nuclear explosion">
        </a>
    </div>

    <div id = "first">
        <img id = "sphynx" src = "../public/media/sphinx.png" alt = "An image of a sphinx">
    </div>

    <div id = "sprayer">
        <img id = "abyss" src = "../public/media/snapshot.png" alt = "The word, `abyss`, written in graffiti">
    </div>


    
    
    
</body>
</html>